html, body {
	height: 100%;
}
body {
	position: relative;
}
.header {
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.2rem;
	color: #efefef;
	background: #272727;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
}
.header .others {
	margin-left: 0.2rem;
}
.header .home-word {
	color: #76B3B4;
}

.login-area {
	position: absolute;
	width: 1.4rem;
	height: 0.5rem;
	right: 0;
	top: 0;
	background: #686868;
}
.split-img {
	display: inline-block;
	float: left;
	width: 0.3rem;
	height: 0.5rem;
	background: url('/images/list/split-img.jpg');
	background-size: contain;

}
.header .login-img {
	display: inline-block;
	float: right;
	width: 0.5rem;
	height: 0.5rem;
	font-size: 0.3rem;
	text-align: center;
	background: #76B3B4;
}
.goBack {
	margin-left: 0.1rem;
	font-size: 0.26rem;
	color: #fff;
}
.cover-part {
	width: 100%;
	padding-top: 0.5rem;
}
.cover-part img {
	width: 100%;
}
.info-tabs {
	height: 0.6rem;
	background: #76B3B4;
	position: relative;
}
.play-icon {
	position: absolute;
	top: -0.07rem;
	right: 0.2rem;
	color: #fff;
	font-size: 0.5rem;
}
.house-title {
	position: absolute;
	top: -0.3rem;
	left: 0.24rem;
	font-size: 0.18rem;
	color: #fff;
	text-shadow: #999 0.01rem 0.01rem 0.01rem;
}
.info-tabs__tabs {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 0.15rem;
}
.info-tabs__tabs .info-tabs__tab {
	display: inline-block;
	width: 33%;
	float: left;
	text-align: center;
}
.info-tabs__tab a {
	color: #fff;
	text-decoration: none;
}
.info__full {
	width: 84%;
	margin-left: 8%;
	margin-top: 0.2rem;
}
.portrait-name {
	margin-top: 0.24rem;
	line-height: 0.42rem;
	height: 0.42rem;
}
.portrait-name span {
	margin-left: 0.2rem;
	line-height: 0.42rem;
	font-size: 0.16rem;
	color: #999;
}
.anchor {
	margin-top: -0.5rem;
	padding-top: 0.5rem;
}
.info__portrait {
	height: 0.42rem;
	width: 0.42rem;
	border-radius: 0.21rem;
}
.info__title {
	font-size: 0.16rem;
	color: #76B3B4;
	line-height: 0.5rem;
	margin-top: 0.16rem;
}
.info__field--key, .info__field--value {
	font-size: 0.14rem;
	display: inline-block;
	line-height: 0.22rem;
}
.info__field--key {
	width: 0.64rem;
	color: #999;
	text-align: right;
}
.info__field--value {
	margin-left: 0.1rem;
	width: 1.8rem;
	color: #333;
}
.seperator {
	border: none;
	border-top:1px solid #eee;
	margin-top: -0.1rem;
}
.info-tabs__tab.tab--active {
	border-bottom: 1px solid #fff;
	padding-bottom: 0.05rem;
	margin-bottom: 0.02rem;
}
.anchor-point {
	padding-top: 0.5rem;
	margin-top: -0.5rem;
}
.like-icon {
	float: right;
	margin-top: 0.1rem;
	width: 0.22rem;
	height: 0.22rem;
}