.header {
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.2rem;
	color: #efefef;
	background: #272727;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	right: 0;
	display: block;
}
.header .others {
	margin-left: 0.2rem;
}
.header .home-word {
	color: #76B3B4;
}

.login-area {
	position: absolute;
	width: 1.4rem;
	height: 0.5rem;
	right: 0;
	top: 0;
	background: #686868;
}
.split-img {
	display: inline-block;
	float: left;
	width: 0.3rem;
	height: 0.5rem;
	background: url('/images/list/split-img.jpg');
	background-size: contain;

}

.header .login-img {
	display: inline-block;
	float: right;
	width: 0.5rem;
	height: 0.5rem;
	font-size: 0.3rem;
	text-align: center;
	background: #76B3B4;
}
.header .login-img.logged{
	position: relative;
	font-size: 0.24rem;
}
.unReadMsgCnt {
	position: absolute;
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 0.08rem;
	top: 0.02rem;
	right: 0.02rem;
	color: #76B3B4;
	background: #fff;
	line-height: 0.16rem;
	font-size: 0.12rem;
}
.goBack {
	margin-left: 0.1rem;
	font-size: 0.26rem;
	color: #fff;
}
.content {
	position: absolute;
	top: 0.5rem;
	bottom: 0;
	overflow: scroll;
}
.cover-part {
	width: 100%;
}
.cover-part img {
	width: 100%;
}
.info-tabs {
	height: 0.6rem;
	background: #76B3B4;
	position: relative;
}
.play-icon {
	position: absolute;
	top: -0.07rem;
	right: 0.2rem;
	color: #fff;
	font-size: 0.5rem;
}
.house-title {
	position: absolute;
	top: -0.3rem;
	left: 0.24rem;
	font-size: 0.18rem;
	color: #fff;
	text-shadow: #999 0.01rem 0.01rem 0.01rem;
}
.info-tabs__tabs {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 0.15rem;
}
.info-tabs__tabs .info-tabs__tab {
	display: inline-block;
	width: 33%;
	float: left;
	text-align: center;
}
.info-tabs__tab a {
	color: #fff;
	text-decoration: none;
}
.info__full {
	width: 84%;
	margin-left: 8%;
	margin-top: 0.2rem;
}
.portrait-name {
	margin-top: 0.24rem;
	line-height: 0.42rem;
	height: 0.42rem;
}
.portrait-name span {
	margin-left: 0.2rem;
	line-height: 0.42rem;
	font-size: 0.16rem;
	color: #999;
}
.info__portrait {
	height: 0.42rem;
	width: 0.42rem;
	border-radius: 0.21rem;
}
.info__title {
	font-size: 0.16rem;
	color: #76B3B4;
	line-height: 0.5rem;
	margin-top: 0.16rem;
}
.info__field--key, .info__field--value {
	font-size: 0.14rem;
	display: inline-block;
	line-height: 0.22rem;
}
.info__field--key {
	width: 0.64rem;
	color: #999;
	text-align: right;
}
.info__field--value {
	margin-left: 0.1rem;
	width: 1.8rem;
	color: #333;
}
.seperator {
	border: none;
	border-top:1px solid #eee;
	margin-top: -0.1rem;
}
.info-tabs__tab.tab--active {
	border-bottom: 1px solid #fff;
	padding-bottom: 0.05rem;
	margin-bottom: 0.02rem;
}
.like-collect {
	float: right;
	height: 0.22rem;
	color: #76B3B4;
}
.like-icon {
	display: inline-block;
	margin-left: 0.05rem;	
	width: 0.2rem;
	height: 0.2rem;
}

.icon-count {
	text-align: top;
	font-size: 0.12rem;
}

.collect-icon {
	display: inline-block;
	margin-top: -0.01rem;
	width: 0.2rem;
	height: 0.2rem;
}
.comment-input-area, .reply-input-area {
	width: 100%;
	height: 0.76rem;
	background: #fafafa;
	text-align: center;
} {
	width: 100%;
	height: 0.76rem;
	background: #fafafa;
	text-align: center;
}
#comment-input, .reply-input {
	border: none;
	margin: 0.05rem;
	width: 94%;
	height: 0.61rem;
	line-height: 0.3rem;
	font-size: 0.14rem;
	padding-left: 0.06rem;
	color: #666;
	border-radius: 0;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #ccc; 
} 
.reply-btn, .send-btn {
	float: right;
	margin-top: 0.08rem;
	text-decoration: none;
	padding: 0.01rem 0.03rem;
	height: 0.18rem;
	line-height: 0.14rem;
	font-size: 0.14rem; 
	background: #dfdfdf;
	color: #fff;
	border: none;
	border-radius: 0.02rem;
}
.reply-btn-shine {
	background: #76B3B4;
}
hr.reply__seperator {
	margin-top: 0.2rem;
}
hr.comments__seperator {
	margin-top: 0.2rem;
}
.comments {
	padding-bottom: 0.8rem;
}
.comments__username {
	font-size: 0.15rem;
	line-height: 0.26rem;
	color: #76B3B4;
}
.comments__item .reply__word {
	font-size: 0.12rem;
	line-height: 0.26rem;
	color: #aaa;
}
.comments__content {
	line-height: 0.24rem;
	font-size: 0.14rem;
	color: #666;
	margin-top: 0.02rem;
	margin-bottom: 0.06rem;
}
.comments__time {
	font-size: 0.12rem;
	color: #ccc;
}
.comments__reply, .comments__delete {
	float: right;
	color: #aaa;
	font-size: 0.14rem;
	text-decoration: none;
}
.my__reply {
	/*background: #fcfcfc;*/
}