<% include ../head.ejs %>
      <title>登录</title>
      <link rel='stylesheet' href='/stylesheets/single/single.css' />
      <script type="text/javascript" src="/javascripts/js/single/single.js"></script>
    </head>
    <body>
        <div class="header"><span class="others">别人</span><span class="home-word">家</span>
        	<span class="login-area">
              <span class="login-img"></span>          
              <span class="split-img"></span>
        	</span>
        </div>   
        <img src="/resource/3/cover.jpg" style="width: 100%; margin-top: 0.52rem;">   
    </body>
</html>
    