<% include ../head.ejs %>
      <title>登录</title>
      <link rel='stylesheet' href='/stylesheets/single/single.css' />
      <script type="text/javascript" src="/javascripts/js/single/single.js"></script>
    </head>
    <body>
        <div class="header"><i class="iconfont goBack">&#xe61d;</i><span class="others">别人</span><span class="home-word">家</span>
        	<span class="login-area">
              <span class="login-img"></span>          
              <span class="split-img"></span>
        	</span>
        </div>
        <div class="cover-part">
          <img src="/resource/<%=data._id.toString()%>/cover.jpg">
          <div class="info-tabs">
              <span class="house-title"><%=data.title%></span>
              <i class="iconfont play-icon">&#xe604;</i>
          </div>             
        </div>   
    </body>
</html>
    