<% include ../head.ejs %>
	    <title>登录</title>
	    <link rel='stylesheet' href='/stylesheets/index/index.css' />
	    <script type="text/javascript" src="/javascripts/js/index/index.js"></script>
  	</head>
  	<body>  	
      <div class="title">
        <p class="main-title">别人家</p>
        <p class="sub-title">装修新家，先上别人家看看</p>
      </div>      
  	</body>
</html>
