<% include ../head.ejs %>
	    <title>别人家-室内设计全景展示</title>
      <meta name="baidu-site-verification" content="LOj7c8F8vl" />
	    <link rel='stylesheet' href='/stylesheets/index/index.css' />
	    <script type="text/javascript" src="/javascripts/js/index/index.js"></script>
  	</head>
  	<body>  	
      <div class="title">
        <p class="main-title">别人家</p>
        <p style="float: left; margin-left: -200rem;">：人与人各不相同，却都有一些相似，而我想给你看的，正是别人家最美的样子。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="sub-title">不同的空间，同样的向往</p>        
      </div> 
      <div class="beian-part">沪ICP备16027212号-1</div>     
  	</body>
</html>
