<% include ../head.ejs %>
	    <title>别人家</title>
      <meta name="baidu-site-verification" content="LOj7c8F8vl" />
	    <link rel='stylesheet' href='/stylesheets/index/index.css' />
	    <script type="text/javascript" src="/javascripts/js/index/index.js"></script>
  	</head>
  	<body>  	
      <div class="title">
        <p class="main-title">别人家</p>
        <p class="sub-title">不同的空间，同样的向往</p>
        <p class="beian">沪ICP备16027212号-1</p>
      </div>      
  	</body>
</html>
