<% include ../head.ejs %>
    <title>别人家</title>
    <link rel='stylesheet' href='/stylesheets/pano/pano.css' />
    <script type="text/javascript" src="/javascripts/js/pano/pano.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/lib/Compass.js"></script> -->

    <!--顶点着色器-->
    <script type="x-shader/x-vertex" id="vshader">
         uniform mat4 projection;
         uniform mat4 modelview;
         attribute vec3 coords;
         varying vec3 vCoords;
         void main() {
            vec4 eyeCoords = modelview * vec4(coords,1.0);
            gl_Position = projection * eyeCoords;
            vCoords = coords;//gl_Position.xyz;
         }
     </script>
    <!--片元着色器-->
    <script type="x-shader/x-fragment" id="fshader">
         precision mediump float;
         varying vec3 vCoords;
         uniform float uSwitchRatio;
         uniform samplerCube uCubeSamplerCur;

         void main() {
                vec4 texColor = textureCube(uCubeSamplerCur, vCoords);
                if(uSwitchRatio == 0.0){
                gl_FragColor = texColor;
                }else{
                gl_FragColor = (vec4(0.12,0.12,0.12,0.2) - texColor)*pow(uSwitchRatio,2.0) + texColor  ;
                }
                //gl_FragColor = vec4(0.5, 0.0, 0.0, 1.0);
         }
     </script>
    <!--相邻全景位置顶点着色器-->
    <script type="x-shader/x-vertex" id="vNeighshader">
         attribute vec4 aCoords;
         uniform mat4 uProjection;
         uniform mat4 uViewMat;
         uniform int uIdSel;
         attribute float aIdCur;
         uniform float uAlpha;
         varying float vAlpha;
         void main() {
            vAlpha = uAlpha;
            gl_Position = uProjection * uViewMat* aCoords;
            //gl_PointSize = 20.0;
         }
     </script>
    <!--相邻全景位置片元着色器-->
    <script type="x-shader/x-fragment" id="fNeighshader">
         precision mediump float;
         varying float vAlpha;
         void main() {
              gl_FragColor = vec4(0.46,0.7,0.7,vAlpha);
         }
     </script>
</head>
<body>
    <div id="all-goods-base" style="position: absolute; top: 0; left: 0"></div>
<div>
    <i class="iconfont goBack">&#xe61d;</i>
</div>
<canvas id="canvas">您的浏览器不支持canvas元素，赶紧更新吧</canvas>
<div id="compass"></div>
<script type="text/template" id="alertTpl">
    <div class="alert-good-area">
        <div class="alert-good">
            <i class="iconfont close-alert-cross">&#xe617;</i>
            <p>名称： {{=data.name}}</p>
            <p>类型： {{=data.type}}</p>
            <p>品牌： {{=data.brand}}</p>
            <p>链接： <a href="http://taobao.com">www.taobao.com</a></p>
        </div>

    </div>
</script>
<script>
/*       pts : {"a":[{position:[-36.711931,-24.502305,89.732219],path:"resource/5842fa95a5ebde0133fe9bcd/b/",planPt:[40,70]}],
                "b":[{position:[70.566856,-36.871385,-60.504709],path:"resource/5842fa95a5ebde0133fe9bcd/a/",planPt:[63,85]},{position:[26.053868,-65.562604,70.871299],path:"resource/5842fa95a5ebde0133fe9bcd/c/",planPt:[63,50]}],
                "c":[{position:[34.341212,-52.466784,77.89684],path:"resource/5842fa95a5ebde0133fe9bcd/b/",planPt:[40,70]}]
            }*/
    var pts = JSON.parse(JSON.stringify(<%-panos%>));
    var settings = {
        GI:{
            canvas : document.getElementById('canvas'),
            firstPath : "resource/5842fa95a5ebde0133fe9bcd/a/",
            smoothSwitch : true,
            pts: {
                a: {
                    neighs: {
                        b: [-36.711931,-24.502305,89.732219]
                    },
                    goods: [{
                        pos: [-30.711931,-30.502305,89.732219],
                        info: {
                            name: '电视',
                            type: '电器',
                            brand: 'TCL'
                        }
                    },{
                        pos: [-15.711931,10.502305,89.732219],
                        info: {
                            name: '书架',
                            type: '书架',
                            brand: '宜家'
                        }
                    }]
                },
                b: {
                    neighs: {
                        a: [70.566856,-36.871385,-60.504709],
                        c: [34.341212,-52.466784,77.89684]
                    },
                    goods: [{
                        pos: [-40.711931,-25.502305,89.732219],
                        info: {
                            name: '面包机',
                            type: '家电',
                            brand: '松下电子'
                        }
                    }]
                },
                c: {
                    neighs: {
                        b: [34.341212,-52.466784,77.89684]
                    },
                    goods: []
                }                
            }
        }
    };
    var qj = new PanoAJK.Init(settings);

    var argsForCompass = {
        GI : qj.Core,
        dom : document.getElementById('compass'),
        controller : qj.Controller,
        angle : 98,
        path: 'images/pano/'
    };
    var compass = new PanoAJK.Component.Compass(argsForCompass);
    qj.addComponent(compass);
    qj.draw();

    //物品部分
    //标注点闪烁
    // qj.Core.goodPtShine();
    _.templateSettings = {
        evaluate    : /{{([\s\S]+?)}}/g,
        interpolate : /{{=([\s\S]+?)}}/g,
        escape      : /{{-([\s\S]+?)}}/g
    };
    var alertTemplate = _.template($('#alertTpl').html());
    $('#all-goods-base').on('tap', '.good-point', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $('body').append(alertTemplate({data: qj.Core.sys.pts[qj.Core.sys.ptName].goods[parseInt($(this).attr('id'))].info}));
    })
    $('body').on('tap', '.close-alert-cross', function() {
        $('.alert-good-area').remove();
    })
    

</script>
</body>
</html>