<% include ../head.ejs %>
    <title>别人家</title>
    <link rel='stylesheet' href='/stylesheets/pano/pano.css' />
    <script type="text/javascript" src="/javascripts/js/pano/pano.js"></script>
    <script type="text/javascript" src="/javascripts/lib/pano/built/Pano.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/lib/Compass.js"></script> -->

    <!--顶点着色器-->
    <script type="x-shader/x-vertex" id="vshader">
         uniform mat4 projection;
         uniform mat4 modelview;
         attribute vec3 coords;
         varying vec3 vCoords;
         void main() {
            vec4 eyeCoords = modelview * vec4(coords,1.0);
            gl_Position = projection * eyeCoords;
            vCoords = coords;//gl_Position.xyz;
         }
     </script>
    <!--片元着色器-->
    <script type="x-shader/x-fragment" id="fshader">
         precision mediump float;
         varying vec3 vCoords;
         uniform float uSwitchRatio;
         uniform samplerCube uCubeSamplerCur;

         void main() {
                vec4 texColor = textureCube(uCubeSamplerCur, vCoords);
                if(uSwitchRatio == 0.0){
                gl_FragColor = texColor;
                }else{
                gl_FragColor = (vec4(0.12,0.12,0.12,1.0) - texColor)*pow(uSwitchRatio,6.0) + texColor  ;
                }
                //gl_FragColor = vec4(0.5, 0.0, 0.0, 1.0);
         }
     </script>
    <!--相邻全景位置顶点着色器-->
    <script type="x-shader/x-vertex" id="vNeighshader">
         attribute vec4 aCoords;
         uniform mat4 uProjection;
         uniform mat4 uViewMat;
         uniform int uIdSel;
         attribute float aIdCur;
         uniform float uAlpha;
         varying float vAlpha;
         void main() {
            if(int(aIdCur) == uIdSel){
                vAlpha = uAlpha;
            }else{
                vAlpha = 0.1;
            }
            gl_Position = uProjection * uViewMat* aCoords;
            //gl_PointSize = 20.0;
         }
     </script>
    <!--相邻全景位置片元着色器-->
    <script type="x-shader/x-fragment" id="fNeighshader">
         precision mediump float;
         varying float vAlpha;
         void main() {
              gl_FragColor = vec4(0.46,0.7,0.7,vAlpha);
         }
     </script>
</head>
<body>
<div>
    <i class="iconfont goBack">&#xe61d;</i>
</div>
<canvas id="canvas">您的浏览器不支持canvas元素，赶紧更新吧</canvas>
<div id="compass"></div>

<script>

    var settings = {
        GI:{
            canvas : document.getElementById('canvas'),
            firstPath : "resource/5842fa95a5ebde0133fe9bcd/1-1/",
            smoothSwitch : true,
            pts : {"1-1":[{position:[-36.711931,-24.502305,89.732219],path:"resource/5842fa95a5ebde0133fe9bcd/1-2/",name:"客厅",planPt:[40,70]}],
                "1-2":[{position:[70.566856,-36.871385,-60.504709],path:"resource/5842fa95a5ebde0133fe9bcd/1-1/",name:"入口",planPt:[63,85]},{position:[26.053868,-65.562604,70.871299],path:"resource/5842fa95a5ebde0133fe9bcd/1-3/",name:"厕所",planPt:[63,50]}],
                "1-3":[{position:[34.341212,-52.466784,77.89684],path:"resource/5842fa95a5ebde0133fe9bcd/1-2/",name:"客厅",planPt:[40,70]}]
            }
        }
    };
    var qj = new PanoAJK.Init(settings);

    var argsForCompass = {
        GI : qj.Core,
        dom : document.getElementById('compass'),
        controller : qj.Controller,
        angle : 98,
        path: 'images/pano/'
    };
    var compass = new PanoAJK.Component.Compass(argsForCompass);
    qj.addComponent(compass);
    qj.draw();
</script>
</body>
</html>