<% include ../head.ejs %>
      <title>未读消息</title>
      <link rel='stylesheet' href='/stylesheets/login/myCollect.css' />
      <script type="text/javascript" src="/javascripts/js/login/myCollect.js"></script>
    </head>
    <body>  

        <div class="header">
        	<a href="/list" style="text-decoration: none;">
        		<i class="iconfont goBack">&#xe61d;</i>
        	</a><span class="my-text">未读</span><span class="collect-text">消息</span>        	
        </div> 
		<div class="content">
				<p><%=delCnt%></p>
		        <% if(list) { %>
		        <ul>
		            <% list.forEach(function(item) { %>
		                <li><%=item.content%></li>
		            <% }) %>
		        </ul>
		        <% } %>
		      </div>
        
    </body>
</html>