*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body {
	position: relative;
}
#canvas {
	width: 100%;
	height: 100%;
}
.go-back-area {
	position: absolute;
	top: 0.2rem;
	left: 0.16rem;
	display: inline-block;
	width: 0.32rem;
	height: 0.32rem;
	border-radius: 0.03rem;
	background: #fff;
	text-align: center;

}
.goBack {
	line-height: 0.32rem;
	font-size: 0.2rem;
	color: #76B3B4;
	font-weight: bold;
}
#compass {
	position: absolute;
	top: 0.1rem;
	right: 0.1rem;
	width: 0.8rem;
	height: 0.8rem;
	display: inline-block;
}
.good-point {
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	position: absolute;
	left: -0.13rem;
	top: -0.13rem;
	transform: translate(-2rem,-2rem);
}
.good-point-out {
	display: inline-block; 
	width: 0.1rem; 
	height: 0.1rem; 
	background: #222; 
	border-radius: 0.05rem;
	position: absolute;
	left: 50%; 
	top: 50%; 
	transform: translate(-50%,-50%);
}
.good-point-in {
	display: inline-block; 
	width: 0.08rem; 
	height: 0.08rem; 
	background: #76B3B4; 
	border-radius: 0.05rem;
	position: absolute;
	left: 50%; 
	top: 50%; 
	transform: translate(-50%,-50%); 
	border: 0.01rem solid #fff;
}
.good-info-text {
	display: inline-block;
	height: 0.2rem;
	line-height: 0.2rem;
	border-bottom: 1px solid #fff;
	position: absolute;
	top: -0.08rem;
	left: 0.12rem;
	padding: 0 0.05rem 0 0.1rem;
	text-align: center;
	color: #fff;
}
body .alert-good-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.alert-good-area .alert-good {
	position: absolute;
	width: 2rem;
	height: 2.6rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
	background: #fff;
	color: #76B3B4;
	border-radius: 4px;
	padding: 0.2rem;
	line-height: 0.3rem;
}
.alert-good p {
	border-bottom: 1px solid #eee;
}
.close-alert-cross {
	position: absolute;
	top: 0.02rem;
	right: 0.03rem;
	font-size: 0.2rem;
	color: #76B3B4;
}
#isGoodsShowed {
	position: absolute;
	right: 0.1rem;
	bottom: 1.9rem;
	display: inline-block;
	width: 0.32rem;
	height: 0.32rem;
	border-radius: 0.03rem;
	background: #eee;
	color: #76B3B4;
	text-align: center;
	line-height: 0.32rem;
}
.no-show-goods {
	display: none;
}
#magnifier {
	position: absolute;
	right: 0.1rem;
	bottom: 0.32rem;
	display: inline-block;
	width: 0.32rem;
	height: 1.4rem;
}
#magnifier .larger, #magnifier .smaller {
	height: 0.32rem;
	border-radius: 0.03rem;
	background: #eee;
	text-align: center;
	line-height: 0.36rem;
	color: #76B3B4;
}
#magnifier .slider {
	height: 0.76rem;
	position: relative;
	text-align: center;
}

#magnifier .larger i, #magnifier .smaller i {
	font-size: 0.24rem;
}
.slider .slider-axis {
	display: inline-block;
	width: 1px;
	height: 100%;
	background: #ccc;
}
.slider .level-line {
	position: absolute;
	z-index: 2;
	display: inline-block;;
	width: 60%;
	height: 0.03rem;
	top: 45%;
	left: 20%;
	background: #eee;
}


