<% include ../head.ejs %>
	    <title>登录</title>
	    <link rel='stylesheet' href='/stylesheets/list/list.css' />
	    <script type="text/javascript" src="/javascripts/js/list/list.js"></script>
  	</head>
  	<body>  	
      <div class="header">别人家</div>   
      <div class="content">
        <ul>
          <li class="fy-item">柯勋家</li>
          <li class="fy-item">刘文超家</li>
          <li class="fy-item">蕾静家</li>
          <li class="fy-item"> </li>
          <li class="fy-item"> </li>
        </ul>
      </div>
  	</body>
</html>
