html, body {
	height: 100%;
}
body {
	position: relative;
}
.title {
	width: 100%;
	position: absolute;
	bottom: 0.6rem;
	text-align: center;
}
.title .main-title {
	font-size: 0.36rem;
	height: 0.5rem;
	line-height: 0.5rem;
	color: #76B3B4;
}
.title .sub-title {
	font-size: 0.14rem;
	height: 0.2rem;
	line-height: 0.2rem;
	color: #ccc;
}
.beian-part {
	width: 100%;
	position: absolute;
	bottom: 0.1rem;
	text-align: center;
	font-size: 0.12rem;
	color: #eee;
}
